[Desktop Entry]
TryExec=steam
Type=Service
Actions=addToSteam

[Desktop Action addToSteam]
Exec=holo-add-to-steam -ui %u
Icon=steam
Name=Add to Steam
