[Desktop Entry]
Name=Return to Gaming Mode
Exec=sh -c 'if [[ "$(steamosctl get-default-login-mode)" == desktop ]]; then steamosctl switch-to-game-mode; else qdbus org.kde.Shutdown /Shutdown org.kde.Shutdown.logout; fi'
Icon=gaming-return
Terminal=false
Type=Application
StartupNotify=false
